.cards{
    display: flex;
    /* flex-direction: column;
    gap:0.5rem; */
  justify-content: space-between;
}

/* @media (min-with:576px){
    .cards{
        flex-direction: row;
        justify-content: center;
    }
} */